{% extends 'base.html.twig' %}

{% block title %}Liste des pastes publics{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <div class="card bg-lightblue">
                    <div class="card-header">Pastes publics</div>
                    <div class="card-body">
                        <table class="table bg-verylightblue table-hover border-dark rounded-3 table-responsive text-white">
                            <thead>
                            <tr>
                                <th scope="col">Nom</th>
                                <th scope="col">Utilisateur</th>
                                <th scope="col">Posté</th>
                                <th scope="col">Langage</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for paste in pastes %}
                            <tr>
                                <th scope="row"><a href="{{ path('paste.show', {id: paste.id}) }}">{{ paste.title ? paste.title : 'untitled' }}</a></th>
                                <td>{{ paste.user.pseudo }}</td>
                                <td>{{ paste.createdAt | ago }}</td>
                                <td><span class="badge bg-primary">{{ paste.language | upper }}</span></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="float-end">
                            {{ knp_pagination_render(pastes) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
