{% extends 'base.html.twig' %}

{% block title %}Modération : tous les pastes{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <div class="card bg-lightblue">
                    <div class="card-header">Tous les pastes</div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table bg-verylightblue table-hover border-dark rounded-3 text-white"
                                   id="pastes">
                                <thead>
                                <tr>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Utilisateur</th>
                                    <th scope="col">Posté</th>
                                    <th scope="col">Langage</th>
                                    <th scope="col">Visibilité</th>
                                    <th scope="col">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for paste in pastes %}
                                    <tr>
                                        <th scope="row"><a href="{{ path('paste.show', {id: paste.id}) }}" target="_blank">{{ paste.title ? paste.title : 'untitled' }}</a></th>
                                        <td>{{ paste.user.pseudo }}</td>
                                        <td>{{ paste.createdAt|date('d-m-Y à H:i') }}</td>
                                        <td><span class="badge bg-primary">{{ paste.language | upper }}</span></td>
                                        <td><span class="badge bg-extralightblue">{{ paste.privacy | upper }}</span></td>
                                        <td><a href="{{ path('moderation.paste.delete', {id: paste.id}) }}" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> Supprimer</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#pastes').DataTable({
                "order": [[2, "desc"]]
            });
        });
    </script>
{% endblock %}

