<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} | CodeBin</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/56db22c7fe.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<div id="app">
    <nav id="nav" class="navbar navbar-expand-lg navbar-dark" style="background-color: #34394D">
        <div class="container">
            <a class="navbar-brand" href="{{ path('main') }}">CodeBin</a>
            <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarColor02"
                    aria-controls="navbarColor02"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a href="{{ path('main') }}"
                           class="nav-link {% if current_page is defined and 'index' in current_page %}active{% endif %}"><i
                                    class="fa fa-home"></i> Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('pastes.list') }}"
                           class="nav-link {% if current_page is defined and 'pastes_list' in current_page %}active{% endif %}"><i
                                    class="fa fa-clipboard"></i> Pastes publics</a>
                    </li>
                    {% if app.user %}
                        <li class="nav-item">
                            <a href="{{ path('user.pastes') }}"
                               class="nav-link {% if current_page is defined and 'user_pastes_list' in current_page %}active{% endif %}"><i
                                        class="fa fa-copy"></i> Mes pastes</a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav my-auto">
                    {% if app.user %}
                        {% if is_granted('ROLE_MODERATOR') %}
                            <li class="nav-item">
                                <a href="{{ path('moderation.main') }}"
                                   class="nav-link {% if current_page is defined and 'moderation' in current_page %}active{% endif %}"><i
                                            class="fas fa-balance-scale text-warning"></i>
                                    Modération
                                    {% if countReport() > 0 %}
                                        <span class="badge bg-danger">{{ countReport() }}</span>
                                    {% endif %}
                                </a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a href="{{ path('user.profil', {pseudo: app.user.pseudo}) }}"
                               class="nav-link {% if current_page is defined and 'user_profil' in current_page %}active{% endif %}"><i
                                        class="fa fa-user"></i> Mon profil</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('user.account') }}"
                               class="nav-link {% if current_page is defined and 'user_account' in current_page %}active{% endif %}"><i
                                        class="fa fa-user"></i> Mon compte</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_logout') }}" class="nav-link"><i class="fa fa-sign-out"></i>
                                Déconnexion</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{{ path('app_login') }}" class="nav-link btn btn-info">Connexion</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_register') }}" class="nav-link btn btn-dark">Inscription</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% block body %}{% endblock %}
</div>
<div class="footer text-center mt-3">
    <p>&copy <a href="{{ path('main') }}" class="text-white">CodeBin - Tous droits réservés</a> - Une création <a
                href="https://deob.fr" target="_blank">DEOB</a>.</p>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>
